@{
    ViewBag.Title = "About";
}
@*<h3>@ViewBag.Message</h3>*@
<div class="container">
    <div class="row text-center">
        <font back color="00000">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 sub-head">
                <h2 data-wow-delay="0.3s" class="wow rollIn animated"><strong>ABOUT </strong></h2>
                <p> The portal is a first-of-its-kind service that provides applicants with all that they need to find a volunteer opportunity, and serves to help them make the best match possible between their personal requirements and their choice of volunteer work throughout america’s vast land base and expansive resources. the portal is a free, fast, and efficient way to connect volunteers with natural and cultural resources agencies.</p>
            </div>
    </div>
    <div class="row ">
        <div class="col-lg-4 col-md-4">
            <div class="media wow rotateIn animated" data-wow-delay="0.2s">
                <div class="pull-left">
                    <i class="fa fa-recycle fa-4x  "></i>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">Clean the community</h3>
                    <p>
                        How about a place where students or businesses could organize their own folks to clean up a section of their neighborhood and recycle the stuffs.
                    </p>

                </div>
            </div>
            <div class="media wow rotateIn animated" data-wow-delay="0.3s">
                <div class="pull-left">
                    <i class="fa fa-history fa-4x  "></i>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">FoodBank</h3>
                    <p>
                        Our movers offer to pick up the unwanted, non-perishable food items from those who are moving and deliver it to their local food banks.
                    </p>

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-3 wow bounceInDown animated" style="padding: 10px;" data-wow-delay="0.3s">
            <div id="carousel-slider" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner">
                    <div class="item">
                        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQdqVuuSmxY-u41AORIBQA2pDjM0r6H-efbtTG3p7GgdVQDvWmkhA">
                    </div>

                    <div class="item">
                        <img src="http://dru-cdn.zipcar.com/sites/default/files/styles/content-portal-slideshow-slide/public/2_fi_GiveGab.jpg?itok=MB2wbXlT" class="img-thumbnail" alt="">
                    </div>
                    <div class="item">
                        <img src=" http://www.homesinjacksonvillefl.com/img/volunteers.jpg">
                    </div>
                    <div class="item active">
                        <img src="http://www.navy.mil/local/css/images/hi-res/131219-N-UX143-001.jpg">

                    </div>
                    <div class="item">
                        <img src="" />
                    </div>
                </div>

                <ol class="carousel-indicators">
                    <li data-target="#carousel-slider" data-slide-to="0" class=""></li>
                    <li data-target="#carousel-slider" data-slide-to="1" class=""></li>
                    <li data-target="#carousel-slider" data-slide-to="2" class="active"></li>
                    <li data-target="#carousel-slider" data-slide-to="2" class="active"></li>
                    <li data-target="#carousel-slider" data-slide-to="2" class="active"></li>

                </ol>

            </div>
        </div>

        <div class="col-lg-4 col-md-4">

            <div class="media wow rotateIn animated" data-wow-delay="0.4s">
                <div class="pull-left">
                    <i class="fa fa-star-o fa-4x  "></i>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">Homeless people</h3>
                    <p>
                        volunteers works to prevent and end homelessness through a range of support services including eviction prevention, emergency services, transitional housing and permanent affordable housing.
                    </p>

                </div>
            </div>
            <div class="Donate head-text stuff" data-wow-delay="0.5s">
                <div class="pull-left">
                    <i class="fa fa-life-ring fa-4x  "></i>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">Organization</h3>
                    <p>
                        If physically going somewhere as a team is out of the question, volunteering as a team is still possible – If you’re willing to get creative. for instance, you could split your employees into teams and work for an event.
                    </p>

                </div>
            </div>
        </div>
    </div>

</div>
</div>
    </div>
<hr />
</section>