@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GoodQRma</h1>
    <p class="lead">Conneting with USER to VOLUNTEER.</p>
    <p><a href="/Account/Login" class="btn btn-primary btn-lg">Login&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create Account</h2>
        <p>


        </p>
        <p><a class="btn btn-default" href="/Account/Register">JOIN &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Users</h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="/User/Index">See Users &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Events</h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="/Event/Index">See Events &raquo;</a></p>
    </div>
</div>